@mixin button{
  margin: 3%;
  text-decoration: $none;
}
@mixin responsive{
  display: block;
  max-width: 100%;
  height: 10rem;
  max-height: auto;
}
@mixin general{
  background-color: $background-color;
  color: $white;
}
@mixin paragraph{
  background-color: $white;
  color:$background-color;
  font-size:3vh;
  text-align: center;
}
